@mixin media($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}

nav {
    padding: 2.5vh 3.5vw;

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        img {
            height: 6vmin;
        }

        h1 {
            color: var(--white);
        }

        .links {
            ul {
                display: flex;
                justify-content: center;
                align-items: center;

                .nav-close {
                    display: none;
                }

                li {
                    list-style: none;

                    a {
                        margin: 0 1.5rem;
                        padding: .8rem;
                        color: var(--white);
                        text-decoration: none;
                        font-size: 1.125rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 94.5%;
                        letter-spacing: -0.045rem;
                    }
                }



            }
        }

        .mobile-nav-links {
            display: none;
            position: absolute;
            background-color: #fff;
            height: 100vh;
            max-width: 20rem;
            width: 100%;
            top: 0;
            right: 0;

            ul {
                flex-direction: column;
                margin-top: 3rem;
                position: relative;

                .nav-close {
                    font-size: 1.6rem;
                    position: absolute;
                    top: -1rem;
                    left: 2.5rem;
                }

                li {
                    margin: 2rem 1.5rem;
                    list-style: none;

                    a {
                        text-decoration: none;
                        list-style: none;
                        margin: 1rem;
                        padding: .8rem;
                        color: #000;
                        text-decoration: none;
                        font-size: 1.125rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 94.5%;
                        letter-spacing: -0.045rem;
                    }
                }
            }
        }

        .btn-nav {
            display:flex;
            align-items: center;
            gap: 3vmin;
            a {
                text-decoration: none;
                cursor: pointer;
                padding: .5rem;

                .number-nav {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    color: #15ddfc;
                    font-size: 1.3rem;

                    p {
                        font-size: 1rem;
                        color: #fff;
                    }
                }
            }

            button {
                position: relative;
                overflow: hidden;
                width: 9.5625rem;
                height: 2.625rem;
                border-radius: 1.5rem;
                background: #31bad0;
                background-size: 400%;
                color: #fff;
                border: none;
                cursor: pointer;
                color: #000;
                font-weight: bolder;
                font-family: dm;

                &:hover::before {
                    transform: scaleX(1);
                }

                span {
                    position: relative;
                    z-index: 1;
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: scaleX(0);
                    transform-origin: 0 50%;
                    width: 100%;
                    height: inherit;
                    border-radius: inherit;
                    background: #15ddfc;
                    transition: all 0.475s;
                }
            }
        }

        .nav-bar {
            color: #fff;
            font-size: 1.5rem;
            display: none;
        }
    }
}

@include media(998px) {

    nav {
        .navbar {
            img {
                height: 8vmin;
            }

            .links {
                display: none;

                ul {
                    .nav-close {
                        display: block;
                    }
                }
            }

            .mobile-nav-links {
                display: block;
            }

            .btn-nav {
                display: none;
            }

            .nav-bar {
                display: block;
            }
        }
    }
}