.footerCom {
  background: url(./footerBg.png) center;
  background-size: cover;
  padding: 0 1rem;
}
.footerCom .main .head {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3vmin;
}
.footerCom .main .head h2 {
  color: #FFF;
  text-align: center;
  font-family: DM Sans;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 116.5%;
  max-width: 40rem;
}
.footerCom .main .head .input {
  width: 26rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vmin;
}
.footerCom .main .head .input input {
  color: #979797;
  font-family: DM Sans;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 94.5%;
  letter-spacing: -0.0325rem;
  padding: 0.5rem 0.8rem;
  width: 26rem;
  height: 2.25rem;
}
.footerCom .main .head .input input::-moz-placeholder {
  color: #A0A0A0;
  font-family: DM Sans;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 94.5%;
  letter-spacing: -0.0375rem;
}
.footerCom .main .head .input input::placeholder {
  color: #A0A0A0;
  font-family: DM Sans;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 94.5%;
  letter-spacing: -0.0375rem;
}
.footerCom .main .head .input button {
  width: 9.0625rem;
  height: 2.625rem;
  color: #212121;
  font-family: DM Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 94.5%;
  letter-spacing: -0.045rem;
  border-radius: 0.3125rem;
  background: #00C1FF;
  border: none;
}
.footerCom .main .content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 24.375rem;
}
.footerCom .main .content .left {
  max-width: 27rem;
  display: flex;
  flex-direction: column;
  gap: 3vmin;
}
.footerCom .main .content .left h5 {
  color: #FFF;
  font-family: DM Sans;
  font-size: 5.2vmin;
  font-style: normal;
  font-weight: 500;
  line-height: 116.5%;
}
.footerCom .main .content .left p {
  color: #FFF;
  font-family: DM Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 116.5%;
}
.footerCom .main .content .mid h5 {
  color: #FFF;
  font-family: DM Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 116.5%;
  margin-bottom: 1rem;
}
.footerCom .main .content .mid ul li {
  list-style: none;
}
.footerCom .main .content .mid ul li a {
  color: rgba(255, 255, 255, 0.5607843137);
  font-family: DM Sans;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 197.5%;
  text-decoration: none;
  transition: 200ms all;
}
.footerCom .main .content .mid ul li a:hover {
  padding-left: 5px;
  color: #fff;
}
.footerCom .main .content .right {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footerCom .main .content .right .twoDiv {
  display: flex;
  gap: 0.9rem;
  border-radius: 0.25rem;
  background: #D9D9D9;
  border: none;
  width: 9.0625rem;
  height: 1.9375rem;
}
.footerCom .main .content .right .twoDiv input {
  width: 9rem;
  height: 1.9375rem;
  padding: 0.5rem 0.8rem;
  color: #979797;
  font-family: DM Sans;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 94.5%;
  letter-spacing: -0.0325rem;
}
.footerCom .main .content .right .twoDiv input::-moz-placeholder {
  color: #979797;
  font-family: DM Sans;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 94.5%;
  letter-spacing: -0.0325rem;
}
.footerCom .main .content .right .twoDiv input::placeholder {
  color: #979797;
  font-family: DM Sans;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 94.5%;
  letter-spacing: -0.0325rem;
}
.footerCom .main .content .right input {
  width: 18.8125rem;
  height: 1.9375rem;
  padding: 0.5rem 0.8rem;
  color: #979797;
  font-family: DM Sans;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 94.5%;
  letter-spacing: -0.0325rem;
}
.footerCom .main .content .right input::-moz-placeholder {
  color: #979797;
  font-family: DM Sans;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 94.5%;
  letter-spacing: -0.0325rem;
}
.footerCom .main .content .right input::placeholder {
  color: #979797;
  font-family: DM Sans;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 94.5%;
  letter-spacing: -0.0325rem;
}
.footerCom .main .content .right input {
  border: none;
  width: 18.8125rem;
  border-radius: 0.25rem;
  background: #D9D9D9;
  color: #979797;
  font-family: DM Sans;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 94.5%;
  letter-spacing: -0.0325rem;
}
.footerCom .main .content .right input::-moz-placeholder {
  color: #979797;
  font-family: DM Sans;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 94.5%;
  letter-spacing: -0.0325rem;
}
.footerCom .main .content .right input::placeholder {
  color: #979797;
  font-family: DM Sans;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 94.5%;
  letter-spacing: -0.0325rem;
}
.footerCom .main .content .right textarea {
  border: none;
  width: 18.8125rem;
  height: 3.6875rem;
  border-radius: 0.25rem;
  background: #D9D9D9;
  padding: 0.5rem 0.8rem;
  color: #979797;
  font-family: DM Sans;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 94.5%;
  letter-spacing: -0.0325rem;
}
.footerCom .main .content .right textarea::-moz-placeholder {
  color: #979797;
  font-family: DM Sans;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 94.5%;
  letter-spacing: -0.0325rem;
}
.footerCom .main .content .right textarea::placeholder {
  color: #979797;
  font-family: DM Sans;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 94.5%;
  letter-spacing: -0.0325rem;
}
.footerCom .main .content .right button {
  cursor: pointer;
  width: 8.25rem;
  height: 2.375rem;
  flex-shrink: 0;
  border-radius: 3.125rem;
  background: #00C1FF;
  color: #212121;
  font-family: DM Sans;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 94.5%;
  letter-spacing: -0.0375rem;
  border: none;
}
.footerCom .hr {
  width: 100%;
  height: 0.1rem;
  background-color: #FFF;
}
.footerCom .bottom p {
  color: #FFF;
  font-family: DM Sans;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 116.5%;
  padding: 1rem 2rem;
}

@media screen and (max-width: 998px) {
  .footerCom .main .content .mid {
    display: none;
  }
  .footerCom .main .content .right {
    margin-left: 2rem;
  }
}
@media screen and (max-width: 700px) {
  .footerCom .main .content {
    flex-direction: column;
  }
  .footerCom .main .content .left {
    padding: 2.5rem 0;
    text-align: center;
  }
  .footerCom .main .content .right {
    flex-direction: column;
    margin-left: unset;
  }
  .footerCom .main .content .right button {
    margin-bottom: 1.5rem;
  }
  .footerCom .bottom {
    text-align: center;
  }
}
@media screen and (max-width: 430px) {
  .footerCom .main .head .input {
    flex-direction: column;
  }
  .footerCom .main .head .input input {
    max-width: 20rem;
  }
}
@media screen and (max-width: 330px) {
  .footerCom .main .head .input {
    flex-direction: column;
  }
  .footerCom .main .head .input input {
    max-width: 18rem;
  }
}/*# sourceMappingURL=Footer.css.map */