@mixin media($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}

.signUp {
    background-color: #1b0625;
    border-radius: 0rem 0rem 0rem 2.5rem;

    .main {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        max-height: 60vmin;
        margin-bottom: 25rem;

        .headData {
            max-width: 30rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1.3rem;
            margin: 2rem;

            p:first-child {
                color: #79838d;
                font-weight: 700;
                font-size: 1.2rem;
                letter-spacing: 0;
                padding: 0;
            }

            h1 {
                font-size: 3rem;
                color: #fbfcfb;
                line-height: 3rem;
            }

            p {
                color: #79838deb;
                font-size: 1rem;
                letter-spacing: .5px;
                padding: .4rem 0;
                line-height: 1.3rem;
            }

            .btn {
                display: flex;
                align-items: center;
                gap: 1rem;

                button {

                    color: #1B0625;
                    font-family: DM Sans;
                    font-size: 1.125rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 94.5%;
                    letter-spacing: -0.045rem;
                    padding: 1rem 1.8rem;
                    border-radius: 100px;
                    border: none;
                    background-color: #31bad0;
                    cursor: pointer;
                }

                a {
                    font-size: 1.1rem;
                    padding: 0 .5rem;
                    text-decoration: none;
                    color: #ffffff;
                }
            }
        }

        form {
            margin-top: 23rem;
            box-shadow: 2px 2px 12px rgba(128, 128, 128, 0.466);

            div {
                max-width: 27rem;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;
                justify-content: center;
                padding: 3rem 2rem;
                border-radius: 7px;
                background-color: rgb(255, 255, 255);

                input {
                    width: 100%;
                    padding: 1rem .5rem;
                    border-radius: 7px;
                    border: 2px solid rgba(18, 36, 50, 0.226);
                    color: rgba(18, 36, 50, 0.877);
                    letter-spacing: .5px;
                    font-size: .9rem;
                    font-weight: 500;

                    &::placeholder {
                        font-size: .8rem;
                        color: rgba(18, 36, 50, 0.719);
                    }
                }

                button {
                    padding: 1rem 0;
                    width: 100%;
                    border-radius: 7px;
                    border: none;
                    color: #ffffffe8;
                    font-size: 1rem;
                    font-weight: bold;
                    background-color: rgba(95, 33, 118, 0.936);
                    cursor: pointer;
                }

                p {
                    color: rgba(18, 36, 50, 0.863);
                    text-align: center;
                    font-size: 1rem;
                    letter-spacing: .1px;
                    line-height: 1.2rem;

                    a {
                        color: rgba(18, 36, 50, 0.863);
                    }
                }
            }
        }


    }
}


@include media(992px) {

    .signUp {
        .main {
            flex-direction: column;
            height: unset;

            .headData {
                max-width: 35rem;
                padding: 0 2rem;

                h1 {
                    line-height: 3.5rem;
                }

                p {
                    line-height: 1.4rem;
                }

                .btn {
                    gap: 1.2rem;

                    button {
                        padding: 1rem 2rem;
                    }
                }
            }

            form {
                margin-top: 2rem;
                width: 90%;

                div {
                    max-width: unset;
                }
            }
        }
    }
}

@include media(410px) {
    .signUp {
        .main {

            .headData {
                h1 {
                    font-size: 2rem;
                    line-height: 2.3rem;
                }

                .btn {
                    gap: .2rem;

                    button {
                        padding: .7rem 1.45rem;
                    }

                    a {
                        font-size: .95rem;
                    }
                }
            }
        }
    }
}

@include media(350px) {
    .signUp {
        .main {

            .headData {

                .btn {
                    flex-direction: column;
                    gap: 1.5rem;

                    button {
                        padding: unset;
                        width: 100%;
                        height: 3rem;
                    }

                    a {
                        padding: unset;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}