:root {
  --white: #fff;
}

section {
  background: linear-gradient(rgba(0, 0, 0, 0.251), rgba(0, 0, 0, 0.347)), url(./asset1/bg.png) center;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
section h1 {
  color: var(--white);
  padding-bottom: 8rem;
  font-size: 30vmin;
  font-style: normal;
  font-weight: 700;
  line-height: 94.5%;
  letter-spacing: -0.435rem;
}

.page2 {
  background-color: #1b0625;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14vmin 0;
}
.page2 h1 {
  color: #FFF;
  font-family: DM Sans;
  font-size: 7vmin;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  padding-bottom: 3rem;
}
.page2 .processPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
  margin: 0 1rem;
}
.page2 button {
  max-width: 9.5625rem;
  width: 100%;
  height: 2.625rem;
  color: #1B0625;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 94.5%;
  letter-spacing: -0.045rem;
  border-radius: 3.125rem;
  background: #31BAD0;
  border: none;
  margin: 3rem 0;
}

.page3 {
  background: url(./asset1/pageThreeBg.png) center;
  background-size: cover;
  min-height: 100vh;
  padding: 5rem 0;
}
.page3 .main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
  text-align: center;
  margin: 0 2.5rem;
}
.page3 .main h1 {
  color: #FFF;
  text-align: center;
  font-family: DM Sans;
  font-size: 9.4375vmin;
  font-style: normal;
  font-weight: 700;
  line-height: 125.5%;
  letter-spacing: -0.1375rem;
  text-transform: capitalize;
  max-width: 34.375rem;
}
.page3 .main p {
  color: #B9B9B9;
  font-family: DM Sans;
  font-size: 3.02vmin;
  font-style: normal;
  font-weight: 400;
  line-height: 173.5%;
  letter-spacing: -0.0225rem;
  text-transform: capitalize;
  max-width: 45rem;
  width: 100%;
}

.page4 {
  background-color: #1b0625;
  padding: 14vmin 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page4 .head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 4vmin;
}
.page4 .head h1 {
  color: #FFF;
  font-family: DM Sans;
  font-size: 3.4375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 125.5%;
  letter-spacing: -0.1375rem;
  text-transform: capitalize;
}
.page4 .head p {
  max-width: 29.5rem;
  width: 100%;
  color: #B9B9B9;
  font-family: DM Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 173.5%;
  /* 1.95188rem */
  letter-spacing: -0.0225rem;
  text-transform: capitalize;
}
.page4 .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 15vmin 0;
  margin: 0 2vmin;
  max-width: 79.375rem;
}

.page5 {
  padding: 14vmin 0;
  background: linear-gradient(rgba(0, 0, 0, 0.315), rgba(0, 0, 0, 0.304)), url(./asset1/page5Bg.png) center;
  background-size: cover;
  height: 56rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.page5 .main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 2rem;
}
.page5 .main .left h1 {
  color: #FFF;
  font-family: DM Sans;
  font-size: 3.4375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 125.5%;
  letter-spacing: -0.1375rem;
  text-transform: capitalize;
}
.page5 .main .left p {
  color: #B9B9B9;
  font-family: DM Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 173.5%;
  letter-spacing: -0.0225rem;
  text-transform: capitalize;
  max-width: 43.12175rem;
  width: 100%;
  margin: 6vmin 0;
}
.page5 .main .left button {
  border-radius: 3.125rem;
  background: #31BAD0;
  width: 11.2495rem;
  height: 2.625rem;
  border: none;
  color: #1B0625;
  font-family: DM Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 94.5%;
  letter-spacing: -0.045rem;
}
.page5 .main .right img {
  max-height: 42.31231rem;
  border-radius: 1.125rem;
  border: none;
  margin-left: 4vmin;
  border: 2px solid rgba(255, 255, 255, 0.2039215686);
}

@media screen and (max-width: 830px) {
  .page5 {
    height: unset;
  }
  .page5 .main {
    flex-direction: column;
  }
  .page5 .main .left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5vmin 0;
    text-align: center;
  }
  .page5 .main .right {
    padding: 5vmin 0;
  }
}
@media screen and (max-width: 550px) {
  .page5 {
    height: unset;
  }
  .page5 .main .right img {
    height: 20rem;
  }
}
.page6 {
  background: linear-gradient(rgba(0, 0, 0, 0.139), rgba(0, 0, 0, 0.158)), url(./asset1/world-map.png) center;
  height: 100vh;
  background-size: cover;
}

.page7 {
  background: #1b0625;
  padding: 8vmin 8vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page7 .main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page7 .main .left {
  display: flex;
  flex-direction: column;
  gap: 3vmin;
}
.page7 .main .left h4 {
  color: #31BAD0;
  font-family: DM Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 125.5%;
  letter-spacing: 0.25875rem;
  text-transform: capitalize;
}
.page7 .main .left h1 {
  color: #FFF;
  font-family: DM Sans;
  font-size: 8.3vmin;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: -0.1375rem;
  text-transform: capitalize;
  max-width: 33.375rem;
}
.page7 .main .left p {
  color: #B9B9B9;
  font-family: DM Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 173.5%;
  letter-spacing: -0.0225rem;
  text-transform: capitalize;
  max-width: 42.25rem;
}
.page7 .main .left button {
  width: 9.0625rem;
  height: 2.625rem;
  flex-shrink: 0;
  border-radius: 3.125rem;
  background: #31BAD0;
  border: none;
  color: #1B0625;
  font-family: DM Sans;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 94.5%;
  letter-spacing: -0.045rem;
}
.page7 .main .right .page7Card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 35rem;
}

@media screen and (max-width: 1050px) {
  .page7 .main {
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .page7 .main {
    flex-direction: column;
  }
  .page7 .main .right {
    padding: 10vmin 0;
  }
  .page7 .main .right .page7Card {
    width: unset;
    gap: 5vmin;
  }
}/*# sourceMappingURL=page1.css.map */